@use './constants/colors.scss';
@use './constants/breakpoints.scss';





.name{
    color: colors.$primary_red;

}

.home-button {
    background: colors.$primary_red;
}

.home.background {
    // height: max(100%, 100vh);
    height: 100%;
    width: 100%;
    background: colors.$primary_grey;
}

.title-container {

    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    position: relative;
    z-index: 100;
    padding-top: 10vh;

    @include breakpoints.laptop{
        padding-top: 8%;
    }

    // .title-triangle {
    //     // triangle code
    //     z-index: 1;
    //     border-top: 40vh solid colors.$primary_blue;
    //     border-right: 100vw solid transparent;
    //     position: absolute;
    // }

    .title-intro {
        margin-top: 8rem;
        width: 100%;
        z-index: 10;
        font-weight: 1000;
        color: colors.$primary_red;
        font-size: 4rem;
        text-align: center;
    }
    

    .title-name {
        width: 100%;
        z-index: 10;
        font-weight: 1000;
        color: colors.$primary_red;
        font-size: 8rem;
        margin: auto;
        text-align: center;
    }

    .title-subheading {
        width: 100%;
        z-index: 10;
        font-weight: 800;
        font-style: italic;
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }
}

.in-touch-button {
    z-index: 1;
    margin-top: 4rem;
    a {
        padding: 1rem 3rem;
        font-weight: 800;
        font-size: 2rem;
        border: 3px solid colors.$primary_red;
        color: white;
        font-style: italic;
        border-radius: 1px;
        transition: .3s;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }


        //gradient transition
        position: relative;
        background-image: linear-gradient(
          to right,
          colors.$primary_grey,
          colors.$primary_light_grey
        );
        z-index: 1;


        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
              to bottom,
              colors.$primary_light_grey,
              colors.$primary_grey
            );
            z-index: -1;
            transition: opacity 0.3s linear;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
            cursor: pointer;
          }


          // shine effect 
          clip-path: inset(0);  //to remove edges

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: -23%;
            width: 15%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            transform: skewX(-30deg);
            transition: 0.4s;


        } 
          
          &:hover:after {
            left: 110%;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.2);
          }
    }
}

.page-container {

    min-height: 90%;
    width: 60%;
    padding: 10% 20% 0 20%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;

    @include breakpoints.laptop{
        padding: 10% 10% 0 10%;
        width: 80%;

    }

    .description{
        flex-grow: 2;
        padding-right: 1rem;
        &.projects {
            flex-grow: 0;
        }
        .heading-div {
            flex-grow: 2;
            color: white;
            font-size: 3rem;
            font-weight: bold;
            border-bottom: 3px solid white;
            width: 50%;
            margin-bottom: 10px;

            &.projects {
                color: white;
                border-bottom: 3px solid white;
            }
        }
        .subheading-div{
            padding-top: 1rem;
            .subheading {
                color: white;
                font-size: 1.4rem;
                line-height: 1.8rem;
                display: block;
                font-weight: 200;
                margin-bottom: 30px;
                
                .subheading-aside {
                    color: rgba(255, 255, 255, 0.404);

                    font-size: 1.2rem;
                    font-weight: 100;
                }
            }
        }
    }
    

    .aboutme-photo-container{
        .aboutme-photo {
            background-image: url('../../public/photos/Kuliouou1.jpg');
            height: 400px;
            width: 400px;
            clip-path: circle(200px);
            background-size: 400px;
            background-position-y: -20px;
            
        }
    }

    &.projects {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .projects-container {
        display: block;
        width: 100%;
        padding-top: 2rem;
        .project {
            display: flex;
            justify-content: space-around;

            &.left {   // picture on left
                flex-direction: row;
            }
            &.right{ // picture on right
                flex-direction: row-reverse;
            }

            .project-photo-container{
                position: relative;

                
                .project-photo-backdrop {
                    height: 400px;
                    width: 400px;
                    position: absolute;
                    border-radius: 20px;
                    background: colors.$primary_blue;
                    z-index: 1;
                    top:40px;
                    transition: .5s;

                    //makes the background to the bottom left
                    &.left { left: -40px; }
                    //makes the background to the bottom right
                    &.right { left: 40px; }

                    //changes the color of the backdrop
                    &.backdrop_grey { background: colors.$primary_grey }

                }
        

                .project-photo {
                    position:relative;
                    height: 400px;
                    width: 400px;
                    background-repeat: no-repeat;
                    border-radius: 20px;
                    z-index: 2;
                    cursor: pointer;


                    //different urls for different picture and sizes go here 
                    &.password_app{
                        background-image: url('../../public/photos/password_app.PNG');
                        background-size: 500px;
                        background-position-x: -50px;
                    }

                    &.chat_app {
                        background-image: url('../../public/photos/chatboxx_app.PNG');
                        background-size: 500px;
                        background-position-x: -50px;
                    }

                    &.nbody {
                        background-image: url('../../public/photos/nbody.PNG');
                        background-size: 500px;
                        background-position-x: -50px;
                    }
                } 

                //hover over photo container
                &:hover {
                    .project-photo-backdrop{
                        &.left{ transform: translate( 40px, -40px ) }
                        &.right{ transform: translate( -40px, -40px ) }
                    }
                }
            }

            .project-information{
                margin: 1rem 4rem;
                color: white;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .project-heading{
                    font-size: 1.8rem;
                    border-bottom: 2px solid white;
                    width: 80%;
                    text-align: center;
                    margin-bottom: .8rem;
                    font-style: italic;
                }

                .project-subheading {
                    font-size: .9rem;
                    font-weight: lighter;
                    font-style: italic;
                    color:rgba(255, 255, 255, 0.493);
                    margin-bottom: 1.2rem;
                }

                .project-description {
                    font-size: 1.2rem;
                    font-style: italic;

                }

                .project-icons {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-around;
                    width: 50%;
                    a {
                        align-items: center;
                        display: inline-flex;
                        text-decoration: none;
                        text-shadow: none;
                        color: white;
                        transition: .3s;
                        &:hover {
                            color: grey;
                        }
                        &:active {
                            color: white;
                            text-decoration: none;
                        }
                        span {
                            display: inline-flex;
                            align-items: center;
                            text-align: center;
                            line-height: 100%;
                            font-size: .8rem;
                        }
                        svg {
                            margin-right: .4rem;
                        }

                        //specific p5js icon
                        &.p5js{
                            height: 2rem;
                            width: 2rem;
                            background: white;
                            color: colors.$primary_blue;
                            font-size: 1.2rem;
                            &:hover { background: grey; color: white }
                        }
                    }
                }


            }
        }
    }

}




.scrollpage {
    min-height: max(100vh,800px) ;
    position: relative;
    z-index: 1;
    &.red_page {
        background-color: colors.$primary_red;
    }
    &.blue_page {
        background-color: colors.$primary_blue;
    }
}


.page-divider {
    position: absolute; 
    bottom: 5%;
    border-bottom: 3px solid colors.$primary_light_grey;
    left: 35%;
    width: 30%;
    border-radius: 5px;

    .circle {
        position: absolute;
        bottom: -1vh;
        left: 48%;
        width: 2vh;
        height: 2vh;
        background: colors.$primary_light_grey;
        border-radius: 4vh;
        .small-circle {
            position: absolute;
            bottom: .5vh;
            left: .5vh;
            width: 1vh;
            height: 1vh;
            background: colors.$primary_grey;
            border-radius: 4vh;
        }

    }
}

.hover-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



    .hover-word {
        height: calc(2rem + 22px);
        justify-content: center;
        align-items: center;
        display: flex;
        height: calc(2rem + 22px);
        //for spacing 
        margin-left: 1rem;
        &:first-of-type{ margin-left: 0rem; }

        .hover-letter{
            color:white;
            font-size: 2rem;
            font-weight: 600;
            transition: 1s;
            cursor: default;
            position: relative;
        
        // to increase size of hover box
            &::after{
                content: '';
                height: 6rem;
                width:1rem;
                // border: solid 1px greenyellow;    //uncomment to visualize hover box
                left: 0;
                bottom: -2rem;
                position: absolute;
            }
    
        
            &:hover {
                // get next 4 elements including current one - for more even selections
                &, & + .hover-letter, & + .hover-letter + .hover-letter, & + .hover-letter + .hover-letter + .hover-letter,
                & + .hover-letter + .hover-letter + .hover-letter + .hover-letter , & + .hover-letter + .hover-letter + .hover-letter + .hover-letter + .hover-letter  {
                    color: colors.$primary_red;
                    text-shadow: 0px 10px #0000002a;
                    transition: .1s;
                    cursor: default;
                    padding-bottom: 20px;
                }
                //staggered padding for more even look
                & { transition: .3s; }
                & + .hover-letter, & + .hover-letter + .hover-letter , & + .hover-letter + .hover-letter + .hover-letter, & + .hover-letter + .hover-letter + .hover-letter + .hover-letter { transition: .1s; }
                & + .hover-letter + .hover-letter + .hover-letter + .hover-letter + .hover-letter + .hover-letter { transition: .3s; }
                
            }
        }
    }
   
}

