@use './constants/colors.scss';

.MuiAppBar-root{
    //root div
    background-color: colors.$primary_blue !important;
    border-bottom: 3px colors.$primary_light_blue solid !important;
    position: sticky !important;
    top: 0 !important;
} 

.nav-button {
    color: white !important;
    margin: 0 3rem !important;
    padding-bottom: 2px !important;
    width: 10% !important;
    border-bottom: colors.$primary_dark_blue 3px solid !important ;
    position: relative;
    height: 2rem;
    min-width: 6rem;
    span{
        transition: transform 1s, color .5s ;
        position: absolute;
        .squeeze { transform:scale(0); color:colors.$primary_blue; }
    }

}

.navbar-logo{
    background-image: url('../../public/photos/TS-logo_noname.png');
    width: 52px;
    height: 39px;
    filter:invert(1);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-top: 5px;
    margin:auto;

    cursor: pointer;

}