


body {
    margin: 0;

    font-family: muli;
}



a, a:active {
    color: white ;
    text-decoration: none ;
}



span.squeezer {
        transition: transform 1s, color .5s ;
        position: absolute;
        &.squeeze { transform:scale(0); color:transparent; }
    }



.invert-img { filter:invert(1) }




// SHAPE CSS
