

.photography-container {
    display: flex;
    align-items: center;

    justify-content: center;


    .carousel-container{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}